
article {
  font-family: 'Roboto', sans-serif;
  margin: 1em 2em 0 2em;
  border: 1px solid grey;
  border-radius: 10px;
}

article .tweetheader {
  background-color: #E0E0E0;
  padding: 10px 5px 20px 5px;
}

article .tweetfooter {
  border-top: 1px solid grey;
}

article .username {
  float: right;
}

article .userimage {
  width:50px;
  height:50px;
  border-radius: 10px;
}

article .user {
  font-weight: bolder;
}

article .username {
  font-weight: normal;
}