
article {
  font-family: 'Roboto', sans-serif;
  margin: 1em 2em 0 2em;
  border: 1px solid grey;
  border-radius: 10px;
}

article .tweetheader {
  background-color: #E0E0E0;
  padding: 10px 5px 10px 5px;
  border-radius: 10px 10px 0 0;
}

article .tweetfooter {
  border-top: 1px solid grey;
  font-size: smaller;
  padding: 5px;
}


article .tweetfootericons{
  float:right;
  opacity: 0;
}

article:hover .tweetfootericons {
  float:right;
  opacity: 1;
}

article:hover .user {
  color:black;
}

article:hover .tweetheader {
  background-color: #808080  ;
}

article .clearfix{
  clear:both;
}

article .user {
  font-weight: bolder;
  padding-left: 65px;
  font-size: larger;
}

article .handle {
  float: right;
  font-size: small;
  font-style: normal;
  font-weight: normal;

  /*text-align:right;*/
}

article .userimage {
  width:50px;
  height:50px;
  border-radius: 10px;
  float: left;
}

article .tweetbody {
padding: 30px 10px 30px 10px;
}

/*div.hidden {
  display:none;
}*/